header h1{
    text-align: center;
    margin: 20px;
}

.supermarketList{
    border: 1px solid ;
}

.supermarketList .needed{
    border-right: 1px solid;
    /* padding-right: 0px; */
}

.supermarketList .needed h2, .supermarketList .bought h2{
    text-align: center;
}

.supermarketList .needed .draggable{
    cursor: move;
}

.supermarketList .needed button{
    float: right;
    margin-bottom: 10px;
    width: 31px;
    height: 30px;
}
