<header>
  <h1>Supermarket List</h1>
</header>

<div class="supermarketList">
  <div class="container">
      <mat-grid-list cols="2" >
          <mat-grid-tile class="needed">            
              <mat-list>
                  <h3 mat-subheader>Needed</h3>
                  <mat-list-item *ngFor="let folder of folders">
                    <mat-icon mat-list-icon>folder</mat-icon>
                    <h4 mat-line>{{folder.name}}</h4>
                    <p mat-line> {{folder.updated | date}} </p>
                  </mat-list-item>
                  <mat-divider></mat-divider>
                  <h3 mat-subheader>Notes</h3>
                  <mat-list-item *ngFor="let note of notes">
                    <mat-icon mat-list-icon>note</mat-icon>
                    <h4 mat-line>{{note.name}}</h4>
                    <p mat-line> {{note.updated | date}} </p>
                  </mat-list-item>
                </mat-list>
          </mat-grid-tile>
          <mat-grid-tile class="bought">
             
              <mat-table #table [dataSource]="dataSource">

                  <!--- Note that these columns can be defined in any order.
                        The actual rendered columns are set as a property on the row definition" -->
              
                  <!-- Position Column -->
                  <ng-container matColumnDef="position">
                    <mat-header-cell *matHeaderCellDef> No. </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.position}} </mat-cell>
                  </ng-container>
              
                  <!-- Name Column -->
                  <ng-container matColumnDef="name">
                    <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
                  </ng-container>
              
                 
              
                  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                </mat-table>
            
          </mat-grid-tile>
        </mat-grid-list>
    <div class="needed">

    </div>
    <div class="bought">
      
    </div>
  </div>
</div>