  <header>
    <h1>Supermarket List</h1>
  </header>


  <div class="container">
   <div class="supermarketList">
      <div class="row">
        <div class="col-md-6 needed">
          <h2>Needed</h2>
          <table class="table">
              <thead class="thead-dark">
                <tr>
                  <th scope="col">Items</th>
                  <th scope="col">Quantity</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">Butter</th>
                  <td>1</td>
                </tr>
                <tr>
                  <th scope="row">Bread</th>
                  <td>2</td>
                </tr>
                <tr>
                  <th scope="row">Water</th>
                  <td>3</td>
                </tr>
              </tbody>
          </table>
          <button (click)="openNeededInputModal()">+</button>
        </div>
        <div class="col-md-6 bought">
          <div class="bought">
            <h2>Bought</h2>
            <table class="table">
              <thead class="thead-dark">
                <tr>
                  <th scope="col">Items</th>
                  <th scope="col">Price</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">Apples</th>
                  <td>35</td>
                </tr>
                <tr>
                  <th scope="row">Toilet paper</th>
                  <td>20</td>
                </tr>
                <tr>
                  <th scope="row">3</th>
                  <td>Larry</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
         
  <hr>
   
  <pre>{{closeResult}}</pre>
      </div>
    </div>
  </div>
